<a href="https://colab.research.google.com/github/fred-ykv/Value-Investing-In-Python/blob/master/Carteira_Dividendo_2023_An%C3%A1lise_de_Empresas_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ricos pelo Acaso

Link para o vídeo: https://youtu.be/e_ZRDG4F4ZA

# Importando Bibliotecas

In [33]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

# Obtendo e tratando os dados

In [34]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [35]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"
 }

r = requests.get(url, headers=header)

In [36]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

In [37]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,EV/EBITDA,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a
0,POPR4,10.17,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"8,66%","5,65%",1.08,"15,25%","19,93%",0.00,5.458030e+08,0.82,"30,93%"
1,MNSA3,0.42,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"-208,15%","-362,66%",3.63,"-13,50%","145,70%",0.00,-9.105000e+06,-6.52,"-41,11%"
2,CLAN3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","-1,05%",0.00,1.012240e+09,0.00,"-63,96%"
3,CSTB3,150.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"40,85%","28,98%",2.60,"22,40%","20,11%",0.00,8.420670e+09,0.14,"31,91%"
4,PMET3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","4,10%",0.00,-2.908630e+08,0.00,"37,74%"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%"
983,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.00,0.00,0.00,...,0.00,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%"
984,DOHL4,5.44,2524.59,0.58,0.632,"0,00%",0.418,0.91,-44.90,1.59,...,44.22,"-1,41%","0,03%",6.64,"-1,06%","0,02%",28439.70,7.120350e+08,0.17,"10,08%"
985,DOHL3,10.00,4640.80,1.06,1.162,"0,00%",0.768,1.67,-82.54,2.92,...,79.23,"-1,41%","0,03%",6.64,"-1,06%","0,02%",24.39,7.120350e+08,0.17,"10,08%"
986,MEGA3,11.13,7912.10,1.37,2.788,"0,00%",0.412,-20.03,12.37,-0.75,...,14.83,"22,53%","0,16%",0.88,"3,63%","0,02%",12454800.00,5.066810e+09,1.71,"0,00%"

In [38]:
df['LPA'] = df['Cotação'] / df['P/L']

In [39]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a,LPA
0,POPR4,10.17,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"8,66%","5,65%",1.08,"15,25%","19,93%",0.00,5.458030e+08,0.82,"30,93%",inf
1,MNSA3,0.42,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"-208,15%","-362,66%",3.63,"-13,50%","145,70%",0.00,-9.105000e+06,-6.52,"-41,11%",inf
2,CLAN3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","-1,05%",0.00,1.012240e+09,0.00,"-63,96%",NaN
3,CSTB3,150.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"40,85%","28,98%",2.60,"22,40%","20,11%",0.00,8.420670e+09,0.14,"31,91%",inf
4,PMET3,0.00,0.00,0.00,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","4,10%",0.00,-2.908630e+08,0.00,"37,74%",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,14.75,1201.81,3.91,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%",0.012273
983,UBBR3,18.00,1466.61,4.77,0.000,"0,00%",0.000,0.00,0.00,0.00,...,"0,00%","0,00%",0.00,"0,00%","0,33%",0.00,1.031720e+10,0.00,"10,58%",0.012273
984,DOHL4,5.44,2524.59,0.58,0.632,"0,00%",0.418,0.91,-44.90,1.59,...,"-1,41%","0,03%",6.64,"-1,06%","0,02%",28439.70,7.120350e+08,0.17,"10,08%",0.002155
985,DOHL3,10.00,4640.80,1.06,1.162,"0,00%",0.768,1.67,-82.54,2.92,...,"-1,41%","0,03%",6.64,"-1,06%","0,02%",24.39,7.120350e+08,0.17,"10,08%",0.002155
986,MEGA3,11.13,7912.10,1.37,2.788,"0,00%",0.412,-20.03,12.37,-0.75,...,"22,53%","0,16%",0.88,"3,63%","0,02%",12454800.00,5.066810e+09,1.71,"0,00%",0.001407

###Número de Empresas listadas

In [40]:
df.shape

(987, 22)

In [41]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

In [42]:
df

,Papel,Cotação,P/L,P/VP,PSR,Div.Yield,P/Ativo,P/Cap.Giro,P/EBIT,P/Ativ Circ.Liq,...,Mrg Ebit,Mrg. Líq.,Liq. Corr.,ROIC,ROE,Liq.2meses,Patrim. Líq,Dív.Brut/ Patrim.,Cresc. Rec.5a,LPA
0,POPR4,10.17,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0866,0.0565,1.08,0.1525,0.1993,0.00,5.458030e+08,0.82,0.3093,inf
1,MNSA3,0.42,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,-2.0815,-3.6266,3.63,-0.1350,1.4570,0.00,-9.105000e+06,-6.52,-0.4111,inf
2,CLAN3,0.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,-0.0105,0.00,1.012240e+09,0.00,-0.6396,NaN
3,CSTB3,150.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.4085,0.2898,2.60,0.2240,0.2011,0.00,8.420670e+09,0.14,0.3191,inf
4,PMET3,0.00,0.00,0.00,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,0.0410,0.00,-2.908630e+08,0.00,0.3774,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,UBBR11,14.75,1201.81,3.91,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,0.0033,0.00,1.031720e+10,0.00,0.1058,0.012273
983,UBBR3,18.00,1466.61,4.77,0.000,0.0,0.000,0.00,0.00,0.00,...,0.0000,0.0000,0.00,0.0000,0.0033,0.00,1.031720e+10,0.00,0.1058,0.012273
984,DOHL4,5.44,2524.59,0.58,0.632,0.0,0.418,0.91,-44.90,1.59,...,-0.0141,0.0003,6.64,-0.0106,0.0002,28439.70,7.120350e+08,0.17,0.1008,0.002155
985,DOHL3,10.00,4640.80,1.06,1.162,0.0,0.768,1.67,-82.54,2.92,...,-0.0141,0.0003,6.64,-0.0106,0.0002,24.39,7.120350e+08,0.17,0.1008,0.002155
986,MEGA3,11.13,7912.10,1.37,2.788,0.0,0.412,-20.03,12.37,-0.75,...,0.2253,0.0016,0.88,0.0363,0.0002,12454800.00,5.066810e+09,1.71,0.0000,0.001407

## Analisando os dados

#### - Filtando empresas com Liquidez em 2 meses > 1000000

In [43]:
df = df[df['Liq.2meses'] > 1000000]

In [44]:
df.shape

(243, 22)

In [45]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values
ranking['Liq. Corr.'] = df[ df['Liq. Corr.'] >= 1 ].sort_values(by=['Liq. Corr.'])['Papel'][:150].values
ranking['P/L'] = df[ df['P/L'] < 15 ].sort_values(by=['P/L'])['Papel'][:150].values
ranking['ROE'] = df.sort_values(by=['ROE'], ascending=False)['Papel'][:150].values
ranking['P/VP'] = df[(df['P/VP'] >=0) & (df['P/VP'] < 2.7)].sort_values(by=['P/VP'])['Papel'][:150].values
ranking['Div.Yield'] = df.sort_values(by=['Div.Yield'], ascending=False)['Papel'][:150].values

In [46]:
ranking

     pos EV/EBIT   ROIC Liq. Corr.     P/L    ROE    P/VP Div.Yield
0      1   ENJU3  PSSA3      SBSP3   CSAN3  BEEF3   PDGR3     BRPR3
1      2   PSSA3  UNIP6      CIEL3   HBSA3  OIBR3   AMER3     PETR4
2      3   GOAU3  UNIP3      RAIZ4   CLSA3  MRFG3   GFSA3     PETR3
3      4   GOAU4  KEPL3      SGPS3   GUAR3  BBSE3   SGPS3     MRFG3
4      5   PETR4  FESA4      PSSA3   ALPA4  KEPL3   HBRE3     CSNA3
..   ...     ...    ...        ...     ...    ...     ...       ...
145  146   FLRY3  VIVT3      VBBR3   VITT3  PINE4  ENGI11     QUAL3
146  147   GMAT3  ALPA4      VIVA3  SANB11  MDIA3   RRRP3     WEGE3
147  148   STBP3  JALL3      GGPS3   PGMN3  PNVL3   YDUQ3     VVEO3
148  149   RRRP3  SBFG3      CYRE3   LAVV3  EVEN3   AMBP3     VIVA3
149  150   JALL3  EMBR3      TGMA3   DIRR3  TIMS3   CMIG3     FLRY3

[150 rows x 8 columns]

In [47]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [48]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [49]:
c = ranking.pivot_table(columns='Liq. Corr.', values='pos')

In [50]:
d = ranking.pivot_table(columns='P/L', values='pos')

In [51]:
e = ranking.pivot_table(columns='ROE', values='pos')

In [52]:
f = ranking.pivot_table(columns='P/VP', values='pos')

In [53]:
g = ranking.pivot_table(columns='Div.Yield', values='pos')

In [54]:
t = pd.concat([a,b,c,d,e,f,g])
t

,ABEV3,AERI3,ALPK3,ALUP11,AMAR3,AMBP3,AMER3,ANIM3,APER3,ASAI3,...,BPAN4,JPSA3,SANB4,AESB3,ENEV3,EZTC3,MEAL3,MEGA3,MTRE3,TRIS3
pos,136.0,73.0,93.0,54.0,128.0,75.0,108.0,96.0,138.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,50.0,88.0,107.0,102.0,NaN,95.0,NaN,138.0,NaN,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,NaN,96.0,NaN,122.0,NaN,NaN,129.0,NaN,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,NaN,25.0,27.0,NaN,52.0,11.0,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,77.0,NaN,NaN,132.0,NaN,NaN,NaN,NaN,NaN,34.0,...,138.0,134.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pos,NaN,96.0,NaN,110.0,52.0,149.0,2.0,21.0,93.0,NaN,...,128.0,NaN,125.0,137.0,127.0,57.0,30.0,116.0,37.0,50.0
pos,76.0,NaN,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,...,112.0,NaN,67.0,NaN,NaN,144.0,NaN,NaN,52.0,120.0

In [55]:
rank = t.dropna(axis=1).sum()
rank

AURA33    574
CAML3     713
CBAV3     616
CIEL3     402
CMIG3     606
CMIG4     454
CSMG3     496
DXCO3     705
ENGI11    621
GGBR3     323
GGBR4     349
GOAU3     322
GOAU4     332
NEOE3     442
PETR3     198
PETR4     182
POMO3     617
POMO4     696
POSI3     444
RAPT4     631
ROMI3     615
SAPR11    423
SAPR3     419
SAPR4     425
SLCE3     520
SUZB3     501
TUPY3     600
VALE3     292
dtype: int64

In [56]:
rank.sort_values()[:15]

PETR4     182
PETR3     198
VALE3     292
GOAU3     322
GGBR3     323
GOAU4     332
GGBR4     349
CIEL3     402
SAPR3     419
SAPR11    423
SAPR4     425
NEOE3     442
POSI3     444
CMIG4     454
CSMG3     496
dtype: int64