<a href="https://colab.research.google.com/github/fred-ykv/Value-Investing-In-Python/blob/master/Web_Scrap_Finviz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1155]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as soup
from urllib.request import Request, urlopen

pd.set_option('display.max_colwidth', 25)

# Entrada do Ticker

In [1156]:
symbol = input('Enter a ticker: ')
print ('Getting data for ' + symbol + '...\n')

Enter a ticker: MLI
Getting data for MLI...

# Set up scraper

In [1157]:
url = ("http://finviz.com/quote.ashx?t=" + symbol.lower())
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

In [1158]:
def get_fundamentals():
    try:
        # Find fundamentals table
        fundamentals = pd.read_html(str(html), attrs = {'class': 'snapshot-table2'})[0]
        
        # Clean up fundamentals dataframe
        fundamentals.columns = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11']
        colOne = []
        colLength = len(fundamentals)
        for k in np.arange(0, colLength, 2):
            colOne.append(fundamentals[f'{k}'])
        attrs = pd.concat(colOne, ignore_index=True)
    
        colTwo = []
        colLength = len(fundamentals)
        for k in np.arange(1, colLength, 2):
            colTwo.append(fundamentals[f'{k}'])
        vals = pd.concat(colTwo, ignore_index=True)
        
        fundamentals = pd.DataFrame()
        fundamentals['Attributes'] = attrs
        fundamentals['Values'] = vals
        fundamentals = fundamentals.set_index('Attributes')
        return fundamentals

    except Exception as e:
        return e

In [1159]:
def get_news():
    try:
        # Find news table
        news = pd.read_html(str(html), attrs = {'class': 'fullview-news-outer'})[0]
        links = []
        for a in html.find_all('a', class_="tab-link-news"):
            links.append(a['href'])
        
        # Clean up news dataframe
        news.columns = ['Date', 'News Headline']
        news['Article Link'] = links
        news = news.set_index('Date')
        return news

    except Exception as e:
        return e

In [1160]:
def get_insider():
    try:
        # Find insider table
        insider = pd.read_html(str(html), attrs = {'class': 'body-table'})[0]
        
        # Clean up insider dataframe
        insider = insider.iloc[1:]
        insider.columns = ['Trader', 'Relationship', 'Date', 'Transaction', 'Cost', '# Shares', 'Value ($)', '# Shares Total', 'SEC Form 4']
        insider = insider[['Date', 'Trader', 'Relationship', 'Transaction', 'Cost', '# Shares', 'Value ($)', '# Shares Total', 'SEC Form 4']]
        insider = insider.set_index('Date')
        return insider

    except Exception as e:
        return e

In [1161]:
print ('Fundamental Ratios: ')
print(get_fundamentals())

Fundamental Ratios:
                 Values
Attributes
Index                 -
Market Cap        4.24B
Income          658.30M
Sales             3.98B
Book/sh           29.24
...                 ...
ATR                2.02
Volatility  2.53% 3.25%
Prev Close        74.20
Price             74.58
Change            0.51%

[72 rows x 1 columns]

In [1162]:
print ('\nRecent News: ')
print(get_news())

Recent News:
Length of values (100) does not match length of index (103)

In [1163]:
print ('\nRecent Insider Trades: ')
print(get_insider())

Recent Insider Trades:
                          Trader              Relationship      Transaction  \
Date
Feb 09             HANSEN JOHN B                  Director             Sale
Feb 07    Christopher Gregory L.  Chairman of the Board...             Sale
Dec 20  Miritello Christopher...  VP, General Counsel, ...  Option Exercise
Nov 23             HANSEN JOHN B                  Director             Sale
Oct 20             HANSEN JOHN B                  Director             Sale
Oct 20             HANSEN JOHN B                  Director             Sale
Aug 25             HANSEN JOHN B                  Director             Sale
Aug 09             HANSEN JOHN B                  Director             Sale
Jul 26             HANSEN JOHN B                  Director             Sale
Apr 21             HANSEN JOHN B                  Director             Sale
Apr 12          GLADSTEIN GARY S                  Director  Option Exercise
Mar 01         GOLDMAN SCOTT JAY                  Director             Sale

         Cost # Shares Value ($) # Shares Total       SEC Form 4
Date
Feb 09  73.43     1778    130555          54107  Feb 09 04:01 PM
Feb 07  74.16    55381   4107247         625784  Feb 09 01:25 PM
Dec 20  24.58     3000     73740          43580  Dec 22 10:27 AM
Nov 23  68.94     1000     68944          55885  Nov 23 11:18 AM
Oct 20  63.13     1000     63130          56885  Oct 24 09:47 AM
Oct 20  63.13      500     31564          12500  Oct 24 09:47 AM
Aug 25  67.02     1000     67016          57885  Aug 26 10:33 AM
Aug 09  67.67     1000     67670          58885  Aug 10 04:22 PM
Jul 26  64.27     1000     64272          59885  Jul 26 04:11 PM
Apr 21  60.33     2000    120660          57885  Apr 21 11:01 AM
Apr 12  18.97     4889     92744         138140  Apr 13 09:39 AM
Mar 01  57.11     2500    142775          17590  Mar 02 11:32 AM

In [1164]:
print ('\nFundamental Ratios: ')
print(get_fundamentals())

print ('\nRecent News: ')
print(get_news())

print ('\nRecent Insider Trades: ')
print(get_insider())

Fundamental Ratios:
                 Values
Attributes
Index                 -
Market Cap        4.24B
Income          658.30M
Sales             3.98B
Book/sh           29.24
...                 ...
ATR                2.02
Volatility  2.53% 3.25%
Prev Close        74.20
Price             74.58
Change            0.51%

[72 rows x 1 columns]

Recent News:
Length of values (100) does not match length of index (103)

Recent Insider Trades:
                          Trader              Relationship      Transaction  \
Date
Feb 09             HANSEN JOHN B                  Director             Sale
Feb 07    Christopher Gregory L.  Chairman of the Board...             Sale
Dec 20  Miritello Christopher...  VP, General Counsel, ...  Option Exercise
Nov 23             HANSEN JOHN B                  Director             Sale
Oct 20             HANSEN JOHN B                  Director             Sale
Oct 20             HANSEN JOHN B                  Director             Sale
Aug 25             HANSEN JOHN B                  Director             Sale
Aug 09             HANSEN JOHN B                  Director             Sale
Jul 26             HANSEN JOHN B                  Director             Sale
Apr 21             HANSEN JOHN B                  Director             Sale
Apr 12          GLADSTEIN GARY S                  Director  Option Exercise
Mar 01         GOLDMAN SCOTT JAY                  Director             Sale

         Cost # Shares Value ($) # Shares Total       SEC Form 4
Date
Feb 09  73.43     1778    130555          54107  Feb 09 04:01 PM
Feb 07  74.16    55381   4107247         625784  Feb 09 01:25 PM
Dec 20  24.58     3000     73740          43580  Dec 22 10:27 AM
Nov 23  68.94     1000     68944          55885  Nov 23 11:18 AM
Oct 20  63.13     1000     63130          56885  Oct 24 09:47 AM
Oct 20  63.13      500     31564          12500  Oct 24 09:47 AM
Aug 25  67.02     1000     67016          57885  Aug 26 10:33 AM
Aug 09  67.67     1000     67670          58885  Aug 10 04:22 PM
Jul 26  64.27     1000     64272          59885  Jul 26 04:11 PM
Apr 21  60.33     2000    120660          57885  Apr 21 11:01 AM
Apr 12  18.97     4889     92744         138140  Apr 13 09:39 AM
Mar 01  57.11     2500    142775          17590  Mar 02 11:32 AM

In [1165]:
print ('Fundamental Ratios: ')
fundamentals = get_fundamentals()
if 'Market Cap' in fundamentals.index:
    print(fundamentals.loc['Market Cap'])
else:
    print('Market Cap is not listed.')

Fundamental Ratios:
Values    4.24B
Name: Market Cap, dtype: object

In [1166]:
market_cap_str = fundamentals.loc['Market Cap']['Values']
market_cap_str = market_cap_str.strip()

if market_cap_str[-1] == 'B':
    market_cap = float(market_cap_str[:-1]) * 1000000000
elif market_cap_str[-1] == 'M':
    market_cap = float(market_cap_str[:-1]) * 1000000
else:
    market_cap = float(market_cap_str)

print(f'Market Cap: {int(market_cap)}')

Market Cap: 4240000000

In [1167]:
roi_str = fundamentals.loc['ROI']['Values']
roi_str = roi_str.replace('%', '')
roi = float(roi_str)
roi_perc = roi/100
roi_perc_str = str(roi_perc).replace('.', ',')

print(f'ROI: {roi_perc_str}')

ROI: 0,4

In [1168]:
roe_str = fundamentals.loc['ROE']['Values']
roe_str = roe_str.replace('%', '')
roe = float(roe_str)
roe_perc = roe/100
roe_perc_str = str(roe_perc).replace('.', ',')

print(f'ROE: {roe_perc_str}')

ROE: 0,462

In [1169]:
payout_str = fundamentals.loc['Payout']['Values']
payout_str = payout_str.replace('%', '')
payout = float(payout_str)
payout_perc = payout/100
payout_perc_str = str(payout_perc).replace('.', ',')

print(f'Payout: {payout_perc_str}')

Payout: 0,064

In [1170]:
div_str = fundamentals.loc['Dividend %']['Values']
div_str = div_str.replace('%', '')
div = float(div_str)
div_perc = div/100
div_perc_str = str(div_perc).replace('.', ',')

print(f'Dividend %: {div_perc_str}')

Dividend %: 0,016200000000000003

In [1171]:
epsn5_str = fundamentals.loc['EPS next 5Y']['Values']
epsn5_str = epsn5_str.replace('%', '')
epsn5 = float(epsn5_str)
epsn5_perc = epsn5/100
epsn5_perc_str = str(epsn5_perc).replace('.', ',')

print(f'EPS next 5: {epsn5_perc_str}')

EPS next 5: 0,12

In [1172]:
eps_str = fundamentals.loc['EPS (ttm)']['Values']
eps = float(eps_str)
eps_str = str(eps).replace('.', ',')

print(f'EPS: {eps_str}')

EPS: 11,64

In [1173]:
LPA_str = fundamentals.loc['Book/sh']['Values']
LPA = float(LPA_str)
LPA_str = str(LPA).replace('.', ',')

print(f'LPA: {LPA}')

LPA: 29.24

In [1174]:
import math

eps = float(eps)
LPA = float(LPA)

# Calcular o valor intrínseco em dólar
valor_intrinseco = math.sqrt(eps * LPA * 22.5)

print(f"O valor intrínseco da ação é de ${valor_intrinseco:.2f}")

O valor intrínseco da ação é de $87.51

In [1175]:
 price_str = fundamentals.loc['Price']['Values']
 price = float(price_str)
 price_str = str(price).replace('.', ',')

print(f'Preço Atual: {price_str}')

Preço Atual: 74,58

In [1176]:
# Calcular a diferença entre o valor intrínseco e o preço atual
diferenca = valor_intrinseco - price

# Calcular a diferença percentual
dif_percentual = diferenca / valor_intrinseco * 100

# Verificar se está com ágio ou deságio
if price > valor_intrinseco:
    agio_desagio = 'ágio'
else:
    agio_desagio = 'deságio'

# Exibir os resultados
print(f"Valor intrínseco: ${valor_intrinseco:.2f}")
print(f"Preço atual: ${price:.2f}")
print(f"Diferença: ${diferenca:.2f}")
print(f"Diferença percentual: {dif_percentual:.2f}% {agio_desagio}")

if agio_desagio == 'ágio':
    recomendacao = 'Recomendação: Venda'
else:
    recomendacao = 'Recomendação: Compra'

print(recomendacao)

Valor intrínseco: $87.51
Preço atual: $74.58
Diferença: $12.93
Diferença percentual: 14.78% deságio
Recomendação: Compra

In [1177]:
beta_str = fundamentals.loc['Beta']['Values']
beta = float(beta_str)
beta_str = str(beta).replace('.', ',')

print(f'Beta: {beta_str}')

Beta: 1,12

In [1178]:
tax_reinvest_ll = 1 - payout_perc
tax_reinvest_ll_str = str(tax_reinvest_ll).replace('.', ',')

print(f'Taxa de Reinvestimento LL: {tax_reinvest_ll_str}')

Taxa de Reinvestimento LL: 0,9359999999999999

In [1179]:
roe_str = fundamentals.loc['ROE']['Values']
roe_str = roe_str.replace('%', '')
roe = float(roe_str)
roe_perc = roe/100

gll = tax_reinvest_ll*roe_perc
gll_str = str(gll).replace('.', ',')

print(f'gLL: {gll_str}')

gLL: 0,432432

In [1180]:
gain_leverage = roe_perc - roi_perc
gain_leverage_str = str(gain_leverage).replace('.', ',')

print(f'Ganho de Alavancagem: {gain_leverage_str}')

Ganho de Alavancagem: 0,062

In [1181]:
gaf = roe_perc/roi_perc
gaf_str = str(gaf).replace('.', ',')

print(f'Grau de Alavancagem Financeira: {gaf_str}')

Grau de Alavancagem Financeira: 1,155

In [1182]:
# Requisição Url
url = "https://ycharts.com/indicators/10_year_treasury_rate"
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()

# Parser
html = soup(webpage, "html.parser")

# Buscando Valor
xpath = '/html/body/main/div/div[2]/div/div/div[2]'
value_elem = html.find('div', {'class':'key-stat-title'}).get_text()

if value_elem is not None:
    value = value_elem.strip()
    value = value.split(' ')[0] # Removendo Strings
    value = value.replace('%', '')

    # Removendo Caracteres
    Rf = float(value.replace(',', '.'))
    Rf_str = str(Rf).replace('.', ',') + '%' # Corrigindo Erro

    print(f'Taxa de Juros Livre de Risco (Rf): {Rf_str}')

Taxa de Juros Livre de Risco (Rf): 3,92%

In [1183]:
# Requisição Url
url = "https://ycharts.com/indicators/us_consumer_price_index_yoy"
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()

# Parser
html = soup(webpage, "html.parser")

# Buscando Valor
xpath = '/html/body/main/div/div[2]/div/div/div[2]'
value_elem = html.find('div', {'class':'key-stat-title'}).get_text()

if value_elem is not None:
    value = value_elem.strip()
    value = value.split(' ')[0] # Removendo Strings
    value = value.replace('%', '')

    # Removendo Caracteres
    inflation = float(value.replace(',', '.'))
    inflation_str = str(inflation).replace('.', ',') + '%' # Corrigindo Erro

    print(f'Taxa de Inflação Americana:: {inflation_str}')

Taxa de Inflação Americana:: 6,41%

In [1184]:
url = 'https://ycharts.com/indicators/us_10year_government_bond_interest_rate'
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

xpath = '/html/body/main/div/div[2]/div/div/div[2]'
value_elem = html.find('div', {'class':'key-stat-title'}).get_text()

if value_elem is not None:
    value = value_elem.strip()
    value = value.split(' ')[0] # Removendo Strings
    value = value.replace('%', '')

    # Removendo Caracteres
    interest_rate = float(value.replace(',', '.'))
    interest_rate_str = str(interest_rate).replace('.', ',') + '%' # Corrigindo Erro

    print(f'Taxa de Juros Livre de Risco (Rf): {interest_rate_str}')

Taxa de Juros Livre de Risco (Rf): 3,53%

In [1185]:
# Set up scraper
url = 'https://www.investing.com/rates-bonds/brazil-1-year-bond-yield'
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

rm_str = html.find('span', {'class': 'arial_26 inlineblock pid-24024-last'})
rm = float(rm_str.text)
rm_perc = rm/100
rm_perc_str = str(rm_perc).replace('.', ',')

print(f'Retorno Carteira de Mercado (Rm): {rm_perc_str}')

Retorno Carteira de Mercado (Rm): 0,13535

In [1186]:
# Set up scraper
url = 'https://br.investing.com/economic-calendar/brazilian-cpi-410'
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()
html = soup(webpage, "html.parser")

inflation_str = html.find('div', {'class': 'arial_14 redFont'})
inflation = float(inflation_str.text.replace(',', '.').replace('%', ''))
inflation_perc_str = str(inflation).replace('.', ',')

print(f'Taxa de Inflação Brasil (%) : {inflation_perc_str}%')

Taxa de Inflação Brasil (%) : 5,77%

# **Balanço Patrimonial**

In [1187]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.zacks.com/stock/quote/'+ symbol +'/balance-sheet'
user_agent = {'User-agent': 'Mozilla/5.0'}

# Obtendo a página
page = requests.get(url, headers = user_agent)

# Criando o objeto BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

# Extraindo os valores da tabela
table_rows = soup.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

[]
['Strong Buy', '24.28%']
['Buy', '17.83%']
['Hold', '9.19%']
['Sell', '5.00%']
['Strong Sell', '2.16%']
['500', '10.51%']
['A']
['A']
['A']
['A']
[]
['Assets', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0']
['Cash & Equivalents', '679', '88', '119', '98', '73']
['Receivables', '380', '472', '358', '270', '273']
['Notes Receivable', 'NA', '0', '0', '0', '0']
['Inventories', '449', '430', '315', '292', '330']
['Other Current Assets', '27', '29', '34', '34', '27']
['Total Current Assets', '1,535', '1,019', '825', '694', '703']
['Net Property & Equipment', '380', '386', '377', '363', '371']
['Investments & Advances', 'NA', '61', '38', '48', '58']
['Other Non-Current Assets', 'NA', '0', '0', '0', '0']
['Deferred Charges', 'NA', '0', '0', '0', '0']
['Intangibles', 'NA', '233', '245', '213', '212']
['Deposits & Other Assets', '305', '7', '14', '25', '26']
['Total Assets', '2,242', '1,729', '1,529', '1,371', '1,370']
[]
['Notes Payable', 'NA', '0', '0', '0', '0']
['Accounts Payable', '128', '181', '148', '86', '104']
['Current Portion Long-Term Debt', '1', '1', '41', '8', '7']
['Current Portion Capital Leases', 'NA', '0', '0', '0', '0']
['Accrued Expenses', 'NA', '50', '46', '42', '39']
['Income Taxes Payable', 'NA', '0', '0', '0', '0']
['Other Current Liabilities', '215', '145', '98', '94', '83']
['Total Current Liabilities', '348', '382', '340', '234', '233']
['Mortgages', 'NA', '0', '0', '0', '0']
['Deferred Taxes/Income', '16', '14', '17', '21', '17']
['Convertible Debt', 'NA', '0', '0', '0', '0']
['Long-Term Debt', '1', '1', '287', '379', '490']
['Non-Current Capital Leases', 'NA', '0', '0', '0', '0']
['Other Non-Current Liabilities', '46', '57', '63', '52', '67']
['Minority Interest (Liabilities)', 'NA', '0', '0', '0', '0']
['Total Liabilities', '428', '472', '728', '709', '806']
[]
['Preferred Stock', 'NA', '0', '0', '0', '0']
['Common Stock (Par)', 'NA', '1', '1', '1', '1']
['Capital Surplus', 'NA', '286', '280', '279', '277']
['Retained Earnings', 'NA', '1,458', '1,020', '903', '825']
['Other Equity', '23', '-19', '-31', '-50', '-65']
['Treasury Stock', 'NA', '470', '469', '470', '474']
["Total Shareholder's Equity", '1,814', '1,257', '801', '662', '563']
["Total Liabilities & Shareholder's Equity", '2,242', '1,729', '1,529', '1,371', '1,370']
['Total Common Equity', '101,813', '1,257', '801', '662', '563']
['Shares Outstanding', '56.60', '57.30', '57.00', '56.90', '57.60']
['Book Value Per Share', '1,798.82', '21.94', '14.05', '11.64', '9.78']
[]
['Assets', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0']
['Cash & Equivalents', '679', '484', '203', '139', '88']
['Receivables', '380', '441', '612', '588', '472']
['Notes Receivable', 'NA', '0', '0', '0', '0']
['Inventories', '449', '455', '476', '472', '430']
['Other Current Assets', '27', '42', '46', '41', '29']
['Total Current Assets', '1,535', '1,421', '1,336', '1,241', '1,019']
['Net Property & Equipment', '380', '374', '388', '381', '386']
['Investments & Advances', 'NA', '70', '70', '63', '61']
['Other Non-Current Assets', 'NA', '0', '0', '0', '0']
['Deferred Charges', 'NA', '0', '0', '0', '0']
['Intangibles', 'NA', '212', '223', '233', '233']
['Deposits & Other Assets', '305', '7', '7', '7', '7']
['Total Assets', '2,242', '2,110', '2,047', '1,946', '1,729']
[]
['Notes Payable', 'NA', '0', '0', '0', '0']
['Accounts Payable', '128', '167', '209', '227', '181']
['Current Portion Long-Term Debt', '1', '1', '1', '1', '1']
['Current Portion Capital Leases', 'NA', '0', '0', '0', '0']
['Accrued Expenses', 'NA', '54', '44', '35', '50']
['Income Taxes Payable', 'NA', '0', '0', '0', '0']
['Other Current Liabilities', '215', '147', '159', '183', '145']
['Total Current Liabilities', '348', '375', '419', '452', '382']
['Mortgages', 'NA', '0', '0', '0', '0']
['Deferred Taxes/Income', '16', '11', '12', '16', '14']
['Convertible Debt', 'NA', '0', '0', '0', '0']
['Long-Term Debt', '1', '1', '1', '1', '1']
['Non-Current Capital Leases', 'NA', '0', '0', '0', '0']
['Other Non-Current Liabilities', '46', '', '54', '55', '57']
['Minority Interest (Liabilities)', 'NA', '0', '0', '0', '0']
['Total Liabilities', '428', '455', '501', '540', '472']
[]
['Preferred Stock', 'NA', '0', '0', '0', '0']
['Common Stock (Par)', 'NA', '1', '1', '1', '1']
['Capital Surplus', 'NA', '294', '291', '289', '286']
['Retained Earnings', 'NA', '1,935', '1,795', '1,603', '1,458']
['Other Equity', '23', '-70', '-38', '-12', '-19']
['Treasury Stock', 'NA', '506', '503', '474', '470']
["Total Shareholder's Equity", '1,814', '1,655', '1,546', '1,406', '1,257']
["Total Liabilities & Shareholder's Equity", '2,242', '2,110', '2,047', '1,946', '1,729']
['Total Common Equity', '101,813', '1,655', '1,546', '1,406', '1,257']
['Shares Outstanding', '56.60', '56.60', '56.60', '56.90', '57.30']
['Book Value Per Share', '1,798.82', '29.23', '27.31', '24.71', '21.94']

Patrimônio Líquido (PL)

In [1188]:
# Encontrando o valor de Total Shareholder's Equity
total_shareholders_equity = soup.find('td', text="Total Shareholder's Equity")
value = total_shareholders_equity.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_12 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
value_formatted = '${:,.2f}'.format(value_in_millions_12)

# Imprimindo o valor formatado
print(value_formatted)

$1,814,000,000.00

Empréstimos e Financiamentos

In [1189]:
# Encontrando o valor de Current Portion Long-Term Debt
current_portion_longterm_debt = soup.find('td', text="Current Portion Long-Term Debt")
value = current_portion_longterm_debt.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Empréstimos e Financiamentos:', value_formatted)

Empréstimos e Financiamentos: $1,000,000.00

Dívida de Longo Prazo

In [1190]:
# Encontrando o valor de Long-Term Debt
longterm_debt = soup.find('td', text="Long-Term Debt")
value = longterm_debt.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Dívida de Longo Prazo:', value_formatted)

Dívida de Longo Prazo: $1,000,000.00

Capital de Terceiros (Po)

In [1191]:
# Encontrando o valor de Current Portion Long-Term Debt
current_portion_longterm_debt = soup.find('td', text="Current Portion Long-Term Debt")
value = current_portion_longterm_debt.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
current_portion_longterm_debt_in_millions = float(value.replace(',', '')) * 1000000

# Encontrando o valor de Long-Term Debt
longterm_debt = soup.find('td', text="Long-Term Debt")
value = longterm_debt.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
longterm_debt_in_millions = float(value.replace(',', '')) * 1000000

# Somando os valores de Current Portion Long-Term Debt e Long-Term Debt
total_debt = current_portion_longterm_debt_in_millions + longterm_debt_in_millions

# Formatando o valor de volta para uma string com a notação de dólares
if total_debt == 0:
  total_debt_formatted = '$ 0.00'
else:
  total_debt_formatted = '${:,.2f}'.format(total_debt)

# Imprimindo o valor formatado
print('Capital de Terceiros (PO):', total_debt_formatted)

Capital de Terceiros (PO): $2,000,000.00

Capital Investido (Ativos Totais)

In [1192]:
# Encontrando o valor de Total Assets
total_assets = soup.find('td', text="Total Assets")
value = total_assets.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Capital Investido (Ativos Totais):', value_formatted)

Capital Investido (Ativos Totais): $2,242,000,000.00

Caixa e Aplicações Financeiras

In [1193]:
# Encontrando o valor de Cash & Equivalents
cash_equivalents = soup.find('td', text="Cash & Equivalents")
value = cash_equivalents.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Caixa e Aplicações Financeiras:', value_formatted)

Caixa e Aplicações Financeiras: $679,000,000.00

Ativo Circulante

In [1194]:
# Encontrando o valor de Total Current Assets
total_current_assets = soup.find('td', text="Total Current Assets")
value = total_current_assets.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Ativo Circulante:', value_formatted)

Ativo Circulante: $1,535,000,000.00

Ativo Circulante Operacional

In [1195]:
# Encontrando o valor de Total Current Assets
total_current_assets = soup.find('td', text="Total Current Assets")
value_assets = total_current_assets.find_next('td').text

# Encontrando o valor de Cash & Equivalents
cash_equivalents = soup.find('td', text="Cash & Equivalents")
value_cash = cash_equivalents.find_next('td').text

# Removendo as vírgulas e convertendo os valores para float
value_assets_in_millions = float(value_assets.replace(',', '')) * 1000000
value_cash_in_millions = float(value_cash.replace(',', '')) * 1000000

# Calcular o Ativo Circulante Operacional
value_operational_1 = value_assets_in_millions - value_cash_in_millions

# Formatando o valor de volta para uma string com a notação de dólares
if value_operational_1 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_operational_1)

# Imprimindo o valor formatado
print('Ativo Circulante Operacional:', value_formatted)

Ativo Circulante Operacional: $856,000,000.00

Passivo Circulante

In [1196]:
# Encontrando o valor de Total Current Liabilities
total_current_liabilities = soup.find('td', text="Total Current Liabilities")
value = total_current_liabilities.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Passivo Circulante:', value_formatted)

Passivo Circulante: $348,000,000.00

Passivo Circulante Operacional

In [1197]:
# Encontrando o valor de Total Current Liabilities
total_current_liabilities = soup.find('td', text="Total Current Liabilities")
value_liabilities = total_current_liabilities.find_next('td').text

# Encontrando o valor de Current Portion Long-Term Debt
current_portion_longterm_debt = soup.find('td', text="Current Portion Long-Term Debt")
value_debt = current_portion_longterm_debt.find_next('td').text

# Removendo as vírgulas e convertendo os valores para float
value_liabilities_in_millions = float(value_liabilities.replace(',', '')) * 1000000
value_debt_in_millions = float(value_debt.replace(',', '')) * 1000000

# Calcular o Passivo Circulante Operacional
value_operational_2 = value_liabilities_in_millions - value_debt_in_millions

# Formatando o valor de volta para uma string com a notação de dólares
if value_operational_2 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_operational_2)

# Imprimindo o valor formatado
print('Passivo Circulante Operacional:', value_formatted)

Passivo Circulante Operacional: $347,000,000.00

## Cash Flow Statements

In [1198]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.zacks.com/stock/quote/'+ symbol +'/cash-flow-statements'
user_agent = {'User-agent': 'Mozilla/5.0'}

# Obtendo a página
page = requests.get(url, headers = user_agent)

# Criando o objeto BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

# Extraindo os valores da tabela
table_rows = soup.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

[]
['Strong Buy', '24.28%']
['Buy', '17.83%']
['Hold', '9.19%']
['Sell', '5.00%']
['Strong Sell', '2.16%']
['500', '10.51%']
['A']
['A']
['A']
['A']
[]
['Cash Flow From Operations, Investments & Financial Activities', '\xa0', '\xa0', '\xa0', '\xa0', '\xa0']
['Net Income (Loss)', '662.82', '475.12', '143.65', '106.23', '106.82']
['Depreciation/Amortization & Depletion', '44.09', '45.66', '45.16', '43.01', '39.87']
['Net Change from Assets/Liabilities', '17.63', '-177.66', '24.77', '15.73', '1.98']
['Net Cash from Discontinued Operations', 'NA', '0.00', '0.00', '0.00', '0.00']
['Other Operating Activities', '-0.59', '-31.42', '31.50', '35.57', '19.22']
['Net Cash From Operating Activities', '723.94', '311.70', '245.07', '200.54', '167.89']
['Property & Equipment', '-29.79', '-29.53', '-43.70', '-27.92', '-19.78']
['Acquisition/ Disposition of Subsidiaries', 'NA', '51.68', '-72.65', '3.47', '-167.68']
['Investments', '-217.86', '-1.61', '0.00', '-16.00', '-1.61']
['Other Investing Activities', '5.65', '8.54', '-9.27', '0.00', '1.97']
['Net Cash from Investing Activities', '-242.00', '29.07', '-125.62', '-40.46', '-187.10']
[]
['Issuance (Repurchase) of Capital Stock', '-38.05', '-4.86', '-5.57', '-1.76', '-33.56']
['Issuance (Repayment) of Debt', '-0.14', '-330.72', '-57.12', '-110.37', '29.32']
['Increase (Decrease) Short-Term Debt', 'NA', '0.00', '0.00', '0.00', '0.00']
['Payment of Dividends & Other Distributions', '-63.04', '-38.86', '-22.34', '-23.17', '-23.30']
['Other Financing Activities', '-1.43', '-2.28', '-7.23', '-4.40', '-0.73']
['Net Cash from Financing Activities', '-102.66', '-376.72', '-92.26', '-139.69', '-28.27']
['Effect of Exchange Rate Changes', '-4.37', '-1.05', '2.15', '0.51', '-1.95']
['Net Change In Cash & Equivalents', '374.92', '-37.00', '29.33', '20.90', '-49.43']
['Cash at Beginning of Period', '90.38', '127.38', '98.04', '77.14', '126.56']
['Cash at End of Period', '465.30', '90.38', '127.38', '98.04', '77.14']
['Diluted Net EPS', '11.64', '8.25', '2.47', '1.79', '1.82']

Despesa Financeira

In [1199]:
# Encontrando o valor de Issuance (Repayment) of Debt
issuance_repayment_of_debt = soup.find('td', text="Issuance (Repayment) of Debt")
value = issuance_repayment_of_debt.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Despesa Financeira:', value_formatted)

Despesa Financeira: $-140,000.00

Depreciação e Amortização

In [1200]:
# Encontrando o valor de Depreciação e Amortização
Depreciation_Amortization_Depletion = soup.find('td', text="Depreciation/Amortization & Depletion")
value = Depreciation_Amortization_Depletion.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_7 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_7 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_7)

# Imprimindo o valor formatado
print('Depreciação e Amortização:', value_formatted)

Depreciação e Amortização: $44,090,000.00

CAPEX

In [1201]:
# Encontrando o valor de CAPEX
Property_Equipment = soup.find('td', text="Property & Equipment")
value = Property_Equipment.find_next('td').text

# Removendo as vírgulas e o símbolo negativo, caso exista
if value[0] == '-':
  value_in_millions_8 = float(value[1:].replace(',', '')) * 1000000
else:
  value_in_millions_8 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_8 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_8)

# Imprimindo o valor formatado
print('CAPEX:', value_formatted)

CAPEX: $29,790,000.00

Aquisição / Alienação de Subsidiárias

In [1202]:
# Encontrando o valor de Aquisição / Alienação de Subsidiárias
Acquisition = soup.find('td', text="Acquisition/ Disposition of Subsidiaries")
value = Acquisition.find_next('td').text

# Removendo as vírgulas e o símbolo negativo, caso exista
if value == 'NA':
  value_in_millions_9 = 0
elif value[0] == '-':
  value_in_millions_9 = float(value[1:].replace(',', '')) * 1000000
else:
  value_in_millions_9 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_9 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_9)

# Imprimindo o valor formatado
print('Aquisição / Alienação de Subsidiárias:', value_formatted)

Aquisição / Alienação de Subsidiárias: $ 0.00

Investimentos

In [1203]:
# Encontrando o valor de Investimentos
Investments = soup.find('td', text="Investments")
value = Investments.find_next('td').text

# Removendo as vírgulas e o símbolo negativo, caso exista
if value[0] == '-':
  value_in_millions_10 = float(value[1:].replace(',', '')) * 1000000
else:
  value_in_millions_10 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_10 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_10)

# Imprimindo o valor formatado
print('Investimentos:', value_formatted)

Investimentos: $217,860,000.00

Outras atividades de investimento

In [1204]:
# Encontrando o valor de Outras atividades de investimento
Other_Investing_Activities = soup.find('td', text="Other Investing Activities")
value = Investments.find_next('td').text

# Removendo as vírgulas e o símbolo negativo, caso exista
if value[0] == '-':
  Other_Investing_Activities = float(value[1:].replace(',', '')) * 1000000
else:
  Other_Investing_Activities = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if Other_Investing_Activities == 0:
  Other_Investing_Activities_formatted = '$ 0.00'
else:
  Other_Investing_Activities_formatted = '${:,.2f}'.format(Other_Investing_Activities)

# Imprimindo o valor formatado
print('Outras atividades de investimento:', Other_Investing_Activities_formatted)

Outras atividades de investimento: $217,860,000.00

Fluxo de Caixa das atividades de investimentos

In [1205]:
# Calculando FC das atividades de investimentos
FCAI = value_in_millions_8 + value_in_millions_9 + value_in_millions_10 + Other_Investing_Activities

# Formatando o valor de volta para uma string com a notação de dólares
if FCAI == 0:
  FCAI_formatted = '$ 0.00'
else:
  FCAI_formatted = '${:,.2f}'.format(FCAI)

# Imprimindo o valor formatado
print('FCAI:', FCAI_formatted)

FCAI: $465,510,000.00

## DRE

In [1206]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.zacks.com/stock/quote/'+ symbol +'/income-statement'
user_agent = {'User-agent': 'Mozilla/5.0'}

# Obtendo a página
page = requests.get(url, headers = user_agent)

# Criando o objeto BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

# Extraindo os valores da tabela
table_rows = soup.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

[]
['Strong Buy', '24.28%']
['Buy', '17.83%']
['Hold', '9.19%']
['Sell', '5.00%']
['Strong Sell', '2.16%']
['500', '10.51%']
['A']
['A']
['A']
['A']
[]
['Sales', '3,982', '3,769', '2,398', '2,431', '2,508']
['Cost Of Goods', '2,865', '2,939', '1,966', '2,036', '2,150']
['Gross Profit', '1,118', '830', '432', '395', '357']
['Selling & Adminstrative & Depr. & Amort Expenses', '240', '175', '186', '204', '185']
['Income After Depreciation & Amortization', '877', '656', '246', '191', '173']
['Non-Operating Income', '0', '-7', '-17', '0', '3']
['Interest Expense', '1', '8', '19', '26', '25']
['Pretax Income', '876', '641', '209', '166', '150']
['Income Taxes', '223', '166', '55', '35', '31']
['Minority Interest', '5', '7', '4', '5', '2']
['Investment Gains/Losses', '10', '0', '-10', '-25', '-13']
['Other Income/Charges', 'NA', '0', '0', '0', '0']
['Income From Cont. Operations', '663', '475', '144', '106', '107']
['Extras & Discontinued Operations', '0', '0', '0', '0', '0']
['Net Income (GAAP)', '658', '469', '139', '101', '104']
[]
['Income Before Depreciation & Amortization', '921', '702', '291', '234', '213']
['Depreciation & Amortization (Cash Flow)', '44', '46', '45', '43', '40']
['Income After Depreciation & Amortization', '877', '656', '246', '191', '173']
[]
['Average Shares', '56.56', '56.80', '56.39', '56.34', '57.27']
['Diluted EPS Before Non-Recurring Items', '11.64', '7.49', '2.46', '2.19', '1.86']
['Diluted Net EPS (GAAP)', '11.64', '8.25', '2.47', '1.79', '1.82']
[]
['Sales', '877.58', '944.83', '1,150.04', '1,010.00', '956.36']
['Cost Of Goods', '620.80', '678.64', '820.91', '744.51', '726.59']
['Gross Profit', '256.78', '266.19', '329.13', '265.49', '229.76']
['SG&A, R&D, and Dept/Amort Expenses', '66.37', '61.03', '60.26', '52.79', '57.62']
['Income After SG&A, R&D, and Dept/Amort Expenses', '190.41', '205.16', '268.87', '212.70', '172.14']
['Non-Operating Income', '-4.32', '1.03', '2.20', '0.78', '-0.03']
['Interest Expense', '0.14', '0.36', '0.15', '0.16', '0.26']
['Pretax Income', '185.95', '205.83', '270.93', '213.32', '171.85']
['Income Taxes', '49.80', '51.04', '68.29', '54.20', '44.86']
['Minority Interest', '1.33', '1.27', '0.97', '0.93', '1.10']
['Investment Gains/Losses', '4.09', '1.01', '4.89', '0.12', '-0.29']
['Other Income/Charges', 'NA', '0.00', '0.00', '0.00', '0.00']
['Income From Cont. Operations', '140.24', '155.81', '207.52', '159.25', '126.70']
['Extras & Discontinued Operations', '0.00', '0.00', '0.00', '0.00', '0.00']
['Net Income (GAAP)', '138.91', '154.54', '206.55', '158.32', '125.60']
[]
['Average Shares', '56.36', '56.42', '56.53', '56.91', '56.90']
['Diluted EPS Before Non-Recurring Items', '2.46', '2.74', '3.65', '2.78', '2.21']
['Diluted Net EPS (GAAP)', '2.46', '2.74', '3.65', '2.78', '2.21']

Receita

In [1207]:
# Encontrando o valor de Sales
Sales = soup.find('td', text="Sales")
value = Sales.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions)

# Imprimindo o valor formatado
print('Receita:', value_formatted)

Receita: $3,982,000,000.00

Custos

In [1208]:
# Encontrando o valor de Cost of Goods
Cost_of_Goods = soup.find('td', text="Cost Of Goods")
value = Cost_of_Goods.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_1 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_1 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_1)

# Imprimindo o valor formatado
print('Custos:', value_formatted)

Custos: $2,865,000,000.00

Resultado Bruto

In [1209]:
# Encontrando o valor de Resultado Bruto
Resultado_Bruto = value_in_millions - value_in_millions_1
Resultado_Bruto 

if Resultado_Bruto == 0:
  Resultado_Bruto_formatted = '$ 0.00'
else:
  Resultado_Bruto_formatted = '${:,.2f}'.format(Resultado_Bruto)

# Imprimindo o valor formatado
print('Resultado Bruto:', Resultado_Bruto_formatted)

Resultado Bruto: $1,117,000,000.00

**EBITDA**

In [1210]:
# Encontrando o valor de EBITDA
EBITDA = value_in_millions_2 + value_in_millions_7
EBITDA 

if EBITDA == 0:
  EBITDA_formatted = '$ 0.00'
else:
  EBITDA_formatted = '${:,.2f}'.format(EBITDA)

# Imprimindo o valor formatado
print('EBITDA:', EBITDA_formatted)

EBITDA: $969,090,000.00

**EBIT**

In [1211]:
# Encontrando o valor de Pretax Income
Pretax_Income = soup.find('td', text="Pretax Income")
value = Pretax_Income.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_2 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_2 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_2)

# Imprimindo o valor formatado
print('EBIT:', value_formatted)

EBIT: $876,000,000.00

IR

In [1212]:
# Encontrando o valor de Income Taxes
Income_Taxes = soup.find('td', text="Income Taxes")
value = Income_Taxes.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_3 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_3 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_3)

# Imprimindo o valor formatado
print('IR:', value_formatted)

IR: $223,000,000.00

# *NOPAT Restrito*

In [1213]:
# Encontrando o valor de NOPAT Restrito
NOPAT_Restrito = value_in_millions_2 - value_in_millions_3
NOPAT_Restrito 

if NOPAT_Restrito == 0:
  NOPAT_Restrito_formatted = '$ 0.00'
else:
  NOPAT_Restrito_formatted = '${:,.2f}'.format(NOPAT_Restrito)

# Imprimindo o valor formatado
print('NOPAT Restrito:', NOPAT_Restrito_formatted)

NOPAT Restrito: $653,000,000.00

Depesa Financeira

In [1214]:
# Encontrando o valor de Investment Gains/Losses
Investment_Gains_Losses = soup.find('td', text="Investment Gains/Losses")
value = Investment_Gains_Losses.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_4 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_4 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_4)

# Imprimindo o valor formatado
print('Despesa Financeira:', value_formatted)

Despesa Financeira: $10,000,000.00

Lucro Líquido

In [1215]:
# Encontrando o valor de Net Income (GAAP)
Net_Income_GAAP = soup.find('td', text="Net Income (GAAP)")
value = Net_Income_GAAP.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_5 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_5 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_5)

# Imprimindo o valor formatado
print('Lucro Líquido:', value_formatted)

Lucro Líquido: $658,000,000.00

## **FCL**

NOPAT Restrito

In [1216]:
# Encontrando o valor de NOPAT Restrito
NOPAT_Restrito = value_in_millions_2 - value_in_millions_3
NOPAT_Restrito 

if NOPAT_Restrito == 0:
  NOPAT_Restrito_formatted = '$ 0.00'
else:
  NOPAT_Restrito_formatted = '${:,.2f}'.format(NOPAT_Restrito)

# Imprimindo o valor formatado
print('NOPAT Restrito:', NOPAT_Restrito_formatted)

NOPAT Restrito: $653,000,000.00

Depreciação e Amortização

In [1217]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.zacks.com/stock/quote/'+ symbol +'/cash-flow-statements'
user_agent = {'User-agent': 'Mozilla/5.0'}

# Obtendo a página
page = requests.get(url, headers = user_agent)

# Criando o objeto BeautifulSoup
soup = BeautifulSoup(page.content, 'html.parser')

# Extraindo os valores da tabela
table_rows = soup.find_all('tr')
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    
# Encontrando o valor de Depreciação e Amortização
Depreciation_Amortization_Depletion = soup.find('td', text="Depreciation/Amortization & Depletion")
value = Depreciation_Amortization_Depletion.find_next('td').text

# Removendo as vírgulas e convertendo o valor para float
value_in_millions_7 = float(value.replace(',', '')) * 1000000

# Formatando o valor de volta para uma string com a notação de dólares
if value_in_millions_7 == 0:
  value_formatted = '$ 0.00'
else:
  value_formatted = '${:,.2f}'.format(value_in_millions_7)

# Imprimindo o valor formatado
print('Depreciação e Amortização:', value_formatted)

Depreciação e Amortização: $44,090,000.00

FCO

In [1218]:
# Calculando FCO
FCO = NOPAT_Restrito + value_in_millions_7

# Formatando o valor de volta para uma string com a notação de dólares
if FCO == 0:
  FCO_formatted = '$ 0.00'
else:
  FCO_formatted = '${:,.2f}'.format(FCO)

# Imprimindo o valor formatado
print('FCO:', FCO_formatted)

FCO: $697,090,000.00

Δ NC Giro

In [1219]:
# Calculando NC Giro
NC_Giro = value_operational_1 - value_operational_2

# Formatando o valor de volta para uma string com a notação de dólares
if NC_Giro == 0:
  NC_Giro_formatted = '$ 0.00'
else:
  NC_Giro_formatted = '${:,.2f}'.format(NC_Giro)

# Imprimindo o valor formatado
print('Δ NC Giro:', NC_Giro_formatted)

Δ NC Giro: $509,000,000.00

CAPEX

In [1220]:
CAPEX_formatted = '${:,.2f}'.format(value_in_millions_8)
print('CAPEX:', CAPEX_formatted)

CAPEX: $29,790,000.00

FCFF

In [1221]:
# Calculando FCFF
if NC_Giro > 0:
  FCFF = FCO - NC_Giro - value_in_millions_8
elif NC_Giro < 0:
  FCFF = FCO + NC_Giro - value_in_millions_8

# Formatando o valor de volta para uma string com a notação de dólares
if FCFF == 0:
  FCFF_formatted = '$ 0.00'
else:
  FCFF_formatted = '${:,.2f}'.format(FCFF)

# Imprimindo o valor formatado
print('FCFF:', FCFF_formatted)

FCFF: $158,300,000.00

Novas Dívidas

In [1222]:
# Calculando Novas Dívidas
Novas_dividas = value_in_millions_9 + value_in_millions_10

# Formatando o valor de volta para uma string com a notação de dólares
if Novas_dividas == 0:
  Novas_dividas_formatted = '$ 0.00'
else:
  Novas_dividas_formatted = '${:,.2f}'.format(Novas_dividas)

# Imprimindo o valor formatado
print('Novas Dívidas:', Novas_dividas_formatted)

Novas Dívidas: $217,860,000.00

IR

In [1223]:
# Imprimindo o valor formatado
IR_formatted = '${:,.2f}'.format(value_in_millions_3)
print('IR:', IR_formatted)

IR: $223,000,000.00

**FCDA**

In [1224]:
# Calculando FCDA
FCDA = FCFF + Novas_dividas + value_in_millions_3

# Formatando o valor de volta para uma string com a notação de dólares
if FCDA == 0:
  FCDA_formatted = '$ 0.00'
else:
  FCDA_formatted = '${:,.2f}'.format(FCDA)

# Imprimindo o valor formatado
print('FCDA:', FCDA_formatted)

FCDA: $599,160,000.00

# **CAPM - Custo do Capital Próprio**

Custo de Capital Próprio

In [1225]:
Ke = interest_rate + (beta*(rm - interest_rate))
Ke_str = str(Ke).replace('.', ',')

print(f'Rj (Ke): {Ke_str}')

Rj (Ke): 14,735600000000002

Ki (Kd) - Custo da Dívida

In [1226]:
# Calculando Ki (Kd) - Custo da Dívida
if value_in_millions_4 == 0:
  Ki = Rf + inflation
else:
  Ki = (value_in_millions_4 / total_debt) + 1

# Formatando o valor de volta para uma string com a notação de dólares
if Ki == 0:
  Ki_formatted = ' 0.00 %'
else:
  Ki_formatted = '{:,.2f} %'.format(Ki)

# Imprimindo o valor formatado
print('Ki (Kd) - Custo da Dívida:', Ki_formatted)

Ki (Kd) - Custo da Dívida: 6.00 %

Po e PL

In [1237]:
Po = total_debt
PL = value_in_millions_12
Po_formatted = '${:,.2f}'.format(total_debt)
PL_formatted = '${:,.2f}'.format(value_in_millions_12)
print ('PL:' , PL_formatted)
print ('Po:' , Po_formatted)

PL: $1,814,000,000.00
Po: $2,000,000.00

PL / (Po+PL)

In [1236]:
# Calculando PL / (Po+PL)
if value_in_millions_12 == 0:
  PL_Po_PL = 0.0
else:
  PL_Po_PL = value_in_millions_12 / (value_in_millions_12 + total_debt)

# Formatando o valor de volta para uma string com a notação de dólares
if PL_Po_PL == 0:
   PL_Po_PL_formatted = ' 0.0'
else:
  PL_Po_PL_formatted = '{:,.2f}'.format(PL_Po_PL)

# Imprimindo o valor formatado
print('PL / (Po+PL):', PL_Po_PL_formatted)

PL / (Po+PL): 1.00

Po / (Po+PL)

In [1228]:
# Calculando Po / (Po+PL)
if total_debt == 0:
  Po_Po_PL = 0.0
else:
  Po_Po_PL = total_debt / (value_in_millions_12 + total_debt)

# Formatando o valor de volta para uma string com a notação de dólares
if Po_Po_PL == 0:
   Po_Po_PL_formatted = ' 0.0'
else:
  Po_Po_PL_formatted = '{:,.2f}'.format(Po_Po_PL)

# Imprimindo o valor formatado
print('Po / (Po+PL):', Po_Po_PL_formatted)

Po / (Po+PL): 0.00

**WACC**

In [1229]:
# Calculando WACC
wacc = (Ke * PL_Po_PL ) + (Ki * Po_Po_PL)
wacc_formatted = '{:,.2f}%'.format(wacc)
print ('WACC:' , wacc_formatted)

WACC: 14.73%

**Custo de Oportunidade**

In [1230]:
# Calculando Co = PL/Ke
Co = value_in_millions_12/(Ke/100)
Co_formatted = '${:,.2f}'.format(Co)
print ('Co:' , Co_formatted)

Co: $12,310,323,298.68

**Lucro Econômico (EVA)**

In [1231]:
# Calculando LE = LL - Co
LE = value_in_millions_5 - Co
LE_formatted = '${:,.2f}'.format(LE)
print ('LE:' , LE_formatted)

LE: $-11,652,323,298.68